@font-face {
    font-family: "fuente";
    src: url(./fuentes/YanoneKaffeesatz-VariableFont_wght.ttf);
}

* {
    font-family: "fuente";

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

    .header {
        width: 100%;
        height: 100vh;
    }

        .contenedor-menu {
            width: 100%;
            height: 15%;
        }

            .menu {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #200014;
            }

                .contenedor-logo {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .logo {
                        width: auto;
                        height: 100%;
                    }

                .ul-menu {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

                    a {
                        margin: 1rem;
                    }

                    .a-menu, .a-menu-log {
                        color: white;
                        text-decoration: none;
                        font-size: 1.3rem;
                    }

                    .a-menu-log {
                        font-size: 1.1rem;
                    }

                    a:hover {
                        color: blue;
                        transition: all .3s;
                        text-decoration: none;                      
                    }

                    li {
                        list-style: none;
                    }

                        .ul-submenu {
                            position: absolute;
                            background-color: #720736;
                            padding: 0;
                            width: auto;
                            border-radius: 1rem;
                            visibility: hidden;
                            opacity: 0;
                            transition: 1s;
                        }

                        .ul-submenu li a {
                            display: block;
                            padding: 15px;
                            color: white;
                            text-decoration: none;        
                        }

                        .ul-submenu li a:hover {
                            color: blue;
                        }

                        .ul-menu li:hover .ul-submenu {
                            visibility: visible;
                            opacity: 1;
                        }

                .ul-menu-log {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

        .portada {
            width: 100%;
            height: 85%;
            background-image: url(./imagenes/fondo.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
        }

            .contenedor-1-portada {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .contenedor-foto-conf {
                    width: 95%;
                    height: 95%;
                    background-color: #200014;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2rem;
                    box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                }

                    .img-copa-portada {
                        width: 90%;
                        height: 90%;
                        border-radius: 2rem;
                    }

            .contenedor-2-portada {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                    .contenedor-info-mundial {
                    width: 95%;
                    height: 95%;
                    background-color: #200014;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2rem;
                    box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    color: white;
                    padding: 1.5rem;
                }

                    .h2-titulo {
                        text-align: center;
                        font-size: 3rem;
                        font-weight: 700;
                        margin-top: 1rem;
                    }

                    .p-portada {
                        text-align: center;
                        font-size: 1rem;
                    }
          
        footer {
            width: 100%;
            height: 20vh;
            background-color: #200014;
            display: flex;
            flex-direction: column;
            color: white;
        }

            .contenedor-creacion {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
            }

                .p-footer {
                    font-size: 1.3rem;
                    margin-top: 1rem;
                }

            .contenedor-redes {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .i-redes {
                    color: white;
                    font-size: 1.5rem;
                    margin: 0rem 2rem 0rem 2rem;
                }

                .i-redes:hover {
                    color: blue;
                }

            .contenedor-ir-arriba {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .ir-arriba {
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                }

@media (max-width: 768px) {
    .a-menu {
        font-size: 0.9rem;
        margin: 0.3rem;
    }

    .a-menu-log {
        font-size: 0.7rem;
        margin: 0;
    }

    .ul-menu {
        width: 55%;
    }

    .ul-menu-log {
        width: 25%;
    }

    .ul-menu-log {
        display: flex;
        flex-direction: column;
    }

    .a-ul-submenu {
        font-size: 0.8rem;
    }

        .portada {
            flex-direction: column;
        }

        .contenedor-1-portada {
            width: 100%;
            height: 50%;
        }

        .contenedor-2-portada {
            width: 100%;
            height: 50%;
        }

        .h2-titulo {
            font-size: 1.5rem;
        }

        .p-portada {
            font-size: 0.6rem;
        }

    .p-footer {
        font-size: 1rem;
    }

    .i-redes {
        font-size: 1rem;
    }

    .ir-arriba {
        font-size: 1rem;
    }



}