@font-face {
    font-family: "fuente";
    src: url(../../fuentes/YanoneKaffeesatz-VariableFont_wght.ttf);
}

* {
    font-family: "fuente";

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

    .header {
        width: 100%;
        height: 100vh;
    }

        .contenedor-menu {
            width: 100%;
            height: 15%;
        }

            .menu {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #200014;
            }

                .contenedor-logo {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .logo {
                        width: auto;
                        height: 100%;
                    }

                .ul-menu {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

                    a {
                        margin: 1rem;
                    }

                    .a-menu, .a-menu-log {
                        color: white;
                        text-decoration: none;
                        font-size: 1.3rem;
                    }

                    .a-menu-log {
                        font-size: 1.1rem;
                    }

                    a:hover {
                        color: blue;
                        transition: all .3s;
                        text-decoration: none;                      
                    }

                    li {
                        list-style: none;
                    }

                        .ul-submenu {
                            position: absolute;
                            background-color: #720736;
                            padding: 0;
                            width: auto;
                            border-radius: 1rem;
                            visibility: hidden;
                            opacity: 0;
                            transition: 1s;
                        }

                        .ul-submenu li a {
                            display: block;
                            padding: 15px;
                            color: white;
                            text-decoration: none;        
                        }

                        .ul-submenu li a:hover {
                            color: blue;
                        }

                        .ul-menu li:hover .ul-submenu {
                            visibility: visible;
                            opacity: 1;
                        }

                .ul-menu-log {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

            .portada {
                width: 100%;
                height: 85%;
                background-image: url(../../imagenes/fondo.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
            }
    
                .contenedor-1-portada {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                    .contenedor-foto-conf {
                        width: 80%;
                        height: 80%;
                        background-color: #200014;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2rem;
                        box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    }
    
                        .img-conf {
                            width: 70%;
                            height: 70%;
                        }
    
                .contenedor-2-portada {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                    .contenedor-info-conf {
                        width: 80%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        background-color: #200014;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2rem;
                        color: white;
                        box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 16px 12px 0px rgba(0,0,0,0.75);
                    }

                        .titulo-selecciones {
                            font-size: 1.1rem;
                            margin: 0;
                        }

                            .ul-selecciones {
                                margin: 0;
                            }
    
                                .li-selecciones {
                                    margin: 0.5rem;
                                    font-size: 0.9rem;
                                }
    
                                    .icono-bandera {
                                        width: 2rem;
                                        height: 1rem;
                                        margin-right: 1rem;
                                        border-radius: 0.5rem;
                                    }
    
                                        .a-selecciones {
                                            text-decoration: none;
                                            color: white;
                                        }

    main {
        width: 100%;
        height: 100%;
    }

        section {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-image: url(../../imagenes/fondo2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

            .contenedor-1 {
                width: auto;
                height: 20%;
                display: flex;
                background-color: #200014;
            }

                .contenedor-escudo {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .img-logo {
                        width: 40%;
                        height: 70%;
                    }

                .contenedor-bandera {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .img-bandera {
                        width: 70%;
                        height: 70%;
                        border-radius: 2rem;
                    }

                .contenedor-nombre {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .titulo {
                        font-size: 4rem;
                        font-weight: 800;
                        text-align: center;
                        color: white;
                        text-shadow: 10px 10px 5px black;
                        letter-spacing: 0.3rem;
                        margin: 0;
                    }

                        i {
                            font-size: 2rem;
                            color: white;
                            margin-left: 1rem;
                        }
                
            .contenedor-2 {
                width: 100%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .contenedor-info {
                    width: 90%;
                    height: 90%;
                    background-color: #200014;
                    color: white;
                    display: flex;
                    border-radius: 2rem;
                    box-shadow: 18px 19px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 18px 19px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 19px 14px 0px rgba(0,0,0,0.75);
                }

                    .contenedor-equipo-grupo {
                        width: 65%;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                        .contenedor-equipo {
                            width: 100%;
                            height: 65%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                            .ul-equipo {
                                width: 100%;
                                margin: 0;
                            }

                                .li-equipo {
                                    font-size: 1.2rem;
                                }

                                    span {
                                        text-decoration: underline;
                                    }

                        .contenedor-grupo {
                            width: 100%;
                            height: 35%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                            .contenedor-info-grupo {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 2px solid white;
                                border-radius: 2rem;
                                padding: 0.5rem;
                            }

                                .ul-grupo {
                                    display: flex;
                                    flex-direction: column;
                                    margin: 0;
                                }

                                    h3 {
                                        text-decoration: underline;
                                        margin: 0;
                                        padding: 0;
                                    }

                                    .li-integrante-grupo {
                                        list-style: lower-latin;
                                        font-size: 1.3rem;
                                        margin-right: 1.3rem;
                                    }

                    .contenedor-foto-mundiales {
                        width: 35%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                    }

                        .contenedor-foto {
                            width: 100%;
                            height: 45%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                            .img-equipo {
                                width: 80%;
                                height: 80%;
                                border-radius: 2rem;
                            }

                        .contenedor-mundiales-jugados {
                            width: 100%;
                            height: 55%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 0.5rem;
                            text-align: center;
                        }

                            .anos {
                                font-size: 0.9rem;
                            }

                            .anos.mayor {
                                color: #200014;
                            }

        footer {
            width: 100%;
            height: 20vh;
            background-color: #200014;
            display: flex;
            flex-direction: column;
            color: white;
        }

            .contenedor-creacion {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
            }

                .p-footer {
                    font-size: 1.3rem;
                }

            .contenedor-redes {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .i-redes {
                    color: white;
                    font-size: 1.5rem;
                    margin: 0rem 2rem 0rem 2rem;
                }

                .i-redes:hover {
                    color: blue;
                }

            .contenedor-ir-arriba {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .ir-arriba {
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                }

@media (max-width: 768px) {
    .a-menu {
        font-size: 0.9rem;
        margin: 0.3rem;
    }

    .a-menu-log {
        font-size: 0.7rem;
        margin: 0;
    }

    .ul-menu {
        width: 55%;
    }

    .ul-menu-log {
        width: 25%;
    }

    .ul-menu-log {
        display: flex;
        flex-direction: column;
    }

    .a-ul-submenu {
        font-size: 0.8rem;
    }

        .portada {
            flex-direction: column;
        }

        .contenedor-1-portada {
            width: 100%;
            height: 25%;
        }

        .contenedor-foto-conf {
            height: 95%;
        }

        .contenedor-2-portada {
            width: 100%;
            height: 75%;
        }

        .contenedor-info-conf {
            height: 95%;
        }

        .titulo-selecciones {
            margin-bottom: 0;
        }

        .ul-selecciones {
            margin-bottom: 0;
        }

        .li-selecciones {
            font-size: 1rem;
            margin: 0.2rem;
        }

        .icono-bandera {
            height: 1.3rem;
        }

            .contenedor-escudo {
                display: none;
            }

            .contenedor-bandera {
                width: 40%;
            }

            .img-bandera {
                width: 70%;
                height: 40%;
                border-radius: 1rem;
            }

            .contenedor-nombre {
                width: 60%;
            }

            i.fa-solid.fa-star {
                display: none;
            }

            .titulo {
                letter-spacing: 0;
                font-size: 3rem;
                margin-bottom: 0;
            }

            .contenedor-info {
                width: 95%;
                height: 95%;
                flex-direction: column;
            }

            .li-integrante-grupo {
                font-size: 1rem;
            }

            .contenedor-equipo-grupo {
                width: 100%;
                height: 25%;
            }

            .contenedor-grupo {
                height: 100%;
            }

            .contenedor-info-grupo {
                padding: 0.2rem;
            }

            .contenedor-foto-mundiales {
                width: 100%;
                height: 75%;
            }

            .contenedor-equipo {
                display: none;
            }

            .contenedor-foto {
                height: 40%;
            }

            .img-equipo {
                width: 95%;
                height: 90%;
                border-radius: 1rem;
            }

            .contenedor-mundiales-jugados {
                height: 60%;
            }

            h3 {
                margin-bottom: 0rem;
            }

    .p-footer {
        font-size: 1rem;
    }

    .i-redes {
        font-size: 1rem;
    }

    .ir-arriba {
        font-size: 1rem;
    }
}