@font-face {
    font-family: "fuente";
    src: url(../fuentes/YanoneKaffeesatz-VariableFont_wght.ttf);
}

* {
    font-family: "fuente";

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

    .header {
        width: 100%;
        height: 100vh;
    }

        .contenedor-menu {
            width: 100%;
            height: 15%;
        }

            .menu {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #200014;
            }

                .contenedor-logo {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .logo {
                        width: auto;
                        height: 100%;
                    }

                .ul-menu {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

                    a {
                        margin: 1rem;
                    }

                    .a-menu, .a-menu-log {
                        color: white;
                        text-decoration: none;
                        font-size: 1.3rem;
                    }

                    .a-menu-log {
                        font-size: 1.1rem;
                    }

                    a:hover {
                        color: blue;
                        transition: all .3s;
                        text-decoration: none;                      
                    }

                    li {
                        list-style: none;
                    }

                        .ul-submenu {
                            position: absolute;
                            background-color: #720736;
                            padding: 0;
                            width: auto;
                            border-radius: 1rem;
                            visibility: hidden;
                            opacity: 0;
                            transition: 1s;
                        }

                        .ul-submenu li a {
                            display: block;
                            padding: 15px;
                            color: white;
                            text-decoration: none;        
                        }

                        .ul-submenu li a:hover {
                            color: blue;
                        }

                        .ul-menu li:hover .ul-submenu {
                            visibility: visible;
                            opacity: 1;
                        }

                .ul-menu-log {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

        .portada {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../imagenes/fondo.jpg);
        }

            .container-registro {
                width: 80%;
                height: 95%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                form {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: #200014;
                    margin: 0;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                }

                    .container-input {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin: 0.3rem;
                        width: 60%;
                    }
                        .container-h2 {
                            text-align: center;
                        }

                            .titulo-registro {
                                font-size: 1.2rem;
                            }

                            label {
                                font-size: 0.9rem;
                            }

                            input {
                                text-align: center;
                                border-radius: 2rem;
                                border: none;
                            }

                            #cbox1 {
                                margin-right: 0.3rem;
                            }

                            .label-term {
                                font-size: 0.8rem;
                            }

                    .container-input-sexo {
                        width: 60%;
                        display: flex;
                        justify-content: center;
                    }

                        .sexo {
                            margin: 0rem 0.3rem 0rem 0.3rem;
                        }

                    .container-btn {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 0.5rem;
                    }

                        .btn-confirmar {
                        width: 40%;
                        border-radius: 2rem;
                        border: none;
                        }

                .container-img {
                    width: 50%;
                    height: 100%;
                }

                    .img-registro {
                        width: 100%;
                        height: 100%;
                        border-top-right-radius: 2rem;
                        border-bottom-right-radius: 2rem;
                        box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 11px 7px 10px 3px rgba(0,0,0,0.75);
                    }

@media (max-width: 768px) {
    .a-menu {
        font-size: 0.9rem;
        margin: 0.3rem;
    }

    .a-menu-log {
        font-size: 0.7rem;
        margin: 0;
    }

    .ul-menu {
        width: 55%;
    }

    .ul-menu-log {
        width: 25%;
    }

    .ul-menu-log {
        display: flex;
        flex-direction: column;
    }

    .a-ul-submenu {
        font-size: 0.8rem;
    }

        .container-registro {
            flex-direction: column;
        }

        form {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
        }

        .container-img {
            display: none;
        }

        .titulo-registro {
            font-size: 0.9rem;
        }

        .btn-confirmar {
            width: 50%;
            border: none;
        }
}